body {
    background-color: dodgerblue;
    color: chartreuse;
}

.heading {
    background-color: dodgerblue;
    width: 80%;
    font-size: 40px;
    color: darkcyan;
    font-weight: bolder;
    font-family: cursive;
}

#camera, #result {
    border: 2px dashed ;
    width: 350px;
    height: 300px;
}

.name_of_objects, #result_object_name, #result_accuracy {
    color: indigo;
}